$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$quaternary-color:#FA9500;
$font-stack: 'IBM Plex Sans' , sans-serif;

@mixin desktopSmall {
    @media screen and (max-width: 1100px) {
        @content
    }
}
@mixin tablet {
    @media screen and (max-width: 900px) {
        @content
    }
}
@mixin tabletSmall {
    @media screen and (max-width: 768px) {
        @content
    }
}
@mixin mobile {
    @media screen and (max-width: 660px) {
        @content
    }
}
@mixin mobileMedium {
    @media screen and (max-width: 520px) {
        @content
    }
}


@mixin flex($direction, $justify: null, $align: null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin svgStyle ($color, $width, $height, $hovercolor: null){
    svg {
        width: $width;
        height: $height;
        path {
            stroke: $color; 
        }
    }
    svg:hover {fill: $hovercolor;}
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    color: $primary-text-color;
    font-family: $font-stack;
}
nav {
    width: 100%;
    height: auto;
    @include flex(row ,space-between, null);
    padding: 36px 60px 46px 85px;
    @include mobileMedium() {
        padding-inline: 30px;
        padding-bottom: 0;
    }
    p {
        font-size: 3.2rem;
        color: $primary-text-color;
        @include mobileMedium() {
            font-size: 2.8rem;
        }
    }
    .icons{
        display: flex;
        gap: 40px;
        @include mobileMedium() {
            gap: 24px;
        }
        button {
            background: none;
            border-style: none;
            width: 45px;
            height: 45px;
            @include mobile() {
                width: 30px;
                height: 30px;
            }
        }
        @include svgStyle($primary-text-color, auto, auto, null)
    }
}
main {
    width: 100%;
    h2 {
        font-size: 3.6rem;
        font-weight: 500;
    }
    > section {
        margin: 0 auto;
        padding: 0 70px;
        width: 100%;
        max-width: 1300px;
        @include mobile() {
            padding: 0 32px;
        }
    }
}
.hero {
    width: 100%;
    max-width: 1200px;
    @include flex(row, space-between, null);
    padding: 75px 65px 115px;
    margin: 0 auto;
    @include tabletSmall() {
        flex-direction: column;
        gap: 48px;
        padding-top: 0;
    }
    @include mobileMedium() {
        padding-inline: 32px;
    }
    .impact-section {
        width: 45%;
        h1 {
            font-size: 4.5rem;
            margin: 60px 0;
        }
        p {
            font-size: 2rem;
            margin-bottom: 100px;
        }
        button {
            background: $quaternary-color;
            color: white;
            border: none;
            width: 240px;
            height: 70px;
            font-family: $font-stack;
            font-size: 2.1rem;
            border-radius: 35px;
            cursor: pointer;
        }
    }
    .image-section {
        width: 35%;
        @include tablet() {
            width: 45%;
        }
        img {
            width: 100%;
            max-width: 500px;
            border-radius: 10px;
            @include tabletSmall() {
                height: 500px;
                max-width: none;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .impact-section, .image-section {
        @include tabletSmall() {
            width: 100%;
        }
    }
}
.product-section {
    .healthcare{
        .cards-container {
            margin: 60px 0;
            @include flex(row, space-between, null);
            flex-wrap: wrap;
            row-gap: 40px;
            .card-item {
                width: 26%;
                max-width: 400px;
                background-color: $secundary-color;
                border-radius: 8px;
                @include desktopSmall() {
                    width: 30%;
                }
                @include tablet() {
                    width: 45%;
                }
                @include mobile() {
                    width: 100%;
                    max-width: none;
                }
                .love-icon {
                    display: flex;
                    justify-content: end;
                    @include svgStyle($primary-text-color, 30px, auto, $primary-text-color);
                    svg {margin: 10px;}
                }
                .card-info{
                    padding: 0 40px 50px;
                    @include flex(column, null, center);
                    figure {
                        width: 100%;
                    }
                    img {
                        width: 100%;
                        border-radius: 6px;
                        @include mobile() {
                            height: 300px;
                            object-fit: cover;
                        }
                        @include mobile() {
                            height: 240px;
                        }
                    }
                    .card-description {
                        margin-top: 12px;
                        h4 {font-size: 2.5rem;}
                        p {font-size: 1.6rem;}
                    }
                }
            }
        }
    }
    .furniture {
        @extend .healthcare;
        .cards-container .card-item {
            background-color: $tertiary-color;
            color: white;
            .love-icon {
                @include svgStyle(white, 30px, auto, white);
            }
        }
    }
}

.info-section {
    .about-us{
        .mission-section {
            padding: 100px 60px;
            @include flex(row, space-between, center);
            @include desktopSmall() {
                flex-direction: column;
                gap: 24px;
            }
            @include tabletSmall() {
                padding: 50px 30px;
            }
            .earth, .innovation {
                width: 50%;
                @include flex(row, center, center);
                @include desktopSmall() {
                    width: 100%;
                    gap: 24px;
                }
                @include mobileMedium() {
                    flex-direction: column;
                }
                img {
                    width: 164px;
                    height: 164px;
                    margin-right: 20px;
                    object-fit: cover;
                    @include tabletSmall() {
                        width: 136px;
                        height: 136px;
                    }
                }
                p {
                    color: $quaternary-color;
                    font-size: 2.6rem;
                    font-weight: 500;
                    @include tabletSmall() {
                        font-size: 2.2rem;
                    }
                }
            }
        }
    }
    .gallery {
        .images-container {
            padding: 70px 0 120px;
            @include flex(row, space-between, center);
            @include tabletSmall() {
                flex-direction: column;
                gap: 40px;
            }
            figure {
                width: 30%;
                max-width: 400px;
                height: 400px;
                @include tabletSmall() {
                    width: 80%;
                    max-width: none;
                }
                @include mobileMedium() {
                    height: 280px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                    &:hover {
                        transform: scale(1.1);
                        transition: transform .3s;
                    }
                }
            }
        }
    }
    .location {
        padding-bottom: 120px;
        img {
            width: 100%;
            margin-top: 70px;
            @include tabletSmall() {
                height: 420px;
                object-fit: cover;
            }
            @include mobileMedium() {
                height: 280px;
            }
        }
        color: $quaternary-color;
        .reference {
            margin: 30px 0 10px;
            font-size: 3rem;
            font-weight: 500;
        }
        .direction {
            margin: 10px 0 30px;
            font-size: 2.4rem;
        }
    }
}
footer {
    padding: 70px;
    background-color: $quaternary-color;
    color: white;
    width: 100%;
    height: auto;
    @include mobile() {
        padding-inline: 32px;
    }
    div {
        max-width: 1300px;
        margin: 0 auto;
    }
    .text {
        @include mobileMedium() {
            margin-bottom: 32px;
        }
        h3 {
            font-size: 3rem;
            margin-bottom: 40px;
        }
        p {
            font-size: 2.4rem;
            margin-bottom: 20px;
        }
    }
    .social-media {
        @include flex(row, center, center);
        gap: 30px;
    }
}